{{ if ne .Page.Title "Battle of Brothers" }}

<div class="top">
	<div class="breadcrumb">
		<p>Currently following
		{{ if eq ($.Scratch.Get "knight") "sirchris" }}
		<a href="/sirchris" title="Hurrah!" class="dotted">Sir Chris</a></p> 
		<p><a href="/sirryan" title="To see what the losing team is up to." class="switch ryan">See what Sir Ryan is up to &#8611;</a></p>
		{{ else }}
		<a href="/sirryan" title="Hurrah!" class="dotted">Sir Ryan</a></p> 
		<p><a href="/sirchris" title="To see what the losing team is up to." class="switch chris">See what Sir Chris is up to &#8611;</a></p>
		{{ end }}
	</div>
</div>

{{ end }}