{{ if ne .Page.Title "Battle of Brothers" }}

<div class="top">
	<p class="breadcrumb">
		Currently following
		{{ if eq ($.Scratch.Get "knight") "sirchris" }}
		<a href="/sirchris" title="Hurrah!" class="dotted">Sir Chris</a> 
		<a href="/sirryan" title="To see what the losing team is up to." class="switch floatright sirchris">See what Sir Ryan is up to &#8611;</a>
		{{ else }}
		<a href="/sirryan" title="Hurrah!" class="dotted">Sir Ryan</a> 
		<a href="/sirchris" title="To see what the losing team is up to." class="switch floatright sirchris">See what Sir Chris is up to &#8611;</a>
		{{ end }}
	</p>
</div>

{{ end }}