{{ $randomGravatar := index (first 1 (shuffle (seq 1 12))) 0 }}


<li >
	<div class="comment-body">
		<div class="comment-author vcard">
			<img src="https://www.gravatar.com/avatar/{{ $.context.email }}?s=118&d=http://battleofbrothers.com/assets/comment_av_{{ $randomGravatar }}.png" alt="" class="avatar avatar-64 photo" height="118" width="118">
		</div>
		<div class="comment-wrapper">
			{{ with $.context.body }}
				<p>{{ $.context.body | markdownify }}</p>
			{{ end }}
		</div>
		<div class="comment-meta commentmetadata">
			<a href="{{ .Permalink }}#{{ ._id }}">#</a> by 
			<cite class="fn">
				{{ with $.context.website }}
					<a href="{{ $.context.website }}" rel="external nofollow" class="url">{{ $.context.name }}</a>
				{{ else }}
				    {{ $.context.name }}
				{{ end }}
			</cite> {{ dateFormat "Jan 2, 2006" $.context.date }}
		</div>
		<div class="reply">
			<a id="{{ $.context._id }}" class="btn-info comment-reply-link" href="#comment-form" onclick="changeValue('fields[reply_to]', '{{ $.context._id }}')">Reply</a>
		</div>
	</div>
</li>

{{ partial "comment-replies" (dict "entryId_parent" $.entryId_parent "SiteDataComments_parent" $.SiteDataComments_parent "parentId" $.context._id "parentName" .name "context" $.context) }}