<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
	<title>Battle of Brothers | A Video Game Programming Duel</title>
	<meta name="description" content="Follow Chris and Ryan as they design indie video game software using the Corona SDK and Sprite Kit frameworks in this game programming duel.">
	<meta name="keywords" content=“video,game,programming,software, design, corona, sprite kit, indie”>
	<meta name="author" content="Battle of Brothers">
	<meta name="robots" content="index, follow">
	<meta name="viewport" content="width=1024"/>

  {{ if eq .Page.Title "Battle of Brothers" }}
  <link rel="stylesheet" href="/css/home.css" type="text/css" media="screen" />
   <link rel="stylesheet" href="/css/global.css" type="text/css" media="screen" />
  {{ end }}

{{ if or (in .Params.categories "sirryan") (eq .Page.Type "tags") }}
   	 <link rel="stylesheet" href="/css/ryan.css?v=1'; ?>" type="text/css" media="screen" />
    <link rel="stylesheet" href="/css/global.css" type="text/css" media="screen" />
{{ end }}

{{ if (in .Params.categories "sirchris") }}
   	 <link rel="stylesheet" href="/css/chris.css?v=1'; ?>" type="text/css" media="screen" />
    <link rel="stylesheet" href="/css/global.css" type="text/css" media="screen" />
{{ end }}

{{ if eq .Page.Section "posts" }}
  <link rel="stylesheet" href="/css/post.css?v=1'; ?>" type="text/css" media="screen" />
{{ else if eq .Page.Type "contact" }}
{{ else }}
  <link rel="stylesheet" href="/css/blog.css" type="text/css" media="screen" />
{{ end }}

<script src="/js/index-min.js"></script>

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-18183842-5"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-18183842-5');
</script>
</head>