{{ $ryanSelected := "" }}

{{ if (in .Params.categories "sirryan") }}
	{{ $ryanSelected := "selected" }}
{{ end }}

<header class="content">
	<a class="ryanshield rotate {{ $ryanSelected }}" href="/sirryan">
		<img class="" style="" src="/assets/RyanShield.png" />
	</a>

	
	<a class="mainshield" href="/">
		<img alt="The one year game develpoment duel" src="/assets/Banner.png" width="266px" class="" />
	</a>
	

	<a class="chrisshield counterrotate" href="/sirchris">
		<img style="" src="/assets/ChrisShield.png" />
	</a>

</header> <!-- #head -->