{{ if eq .Page.Title "Battle of Brothers" }}

 <nav>
	 <div class="container clear">
  		<div class="leftnav">
  			<span>
	  			<a href="/sirryan" class=" clear">
	  				<img class="" src="/assets/CastleWhite.png" width="24px"  />Visit Sir Ryan
	  			</a>
  			</span>
		</div>
		<div class="rightnav">
			<span>
	  			<a href="/sirchris" class="clear">
	  				<img class="" src="/assets/CastleWhite.png" width="24px"  />Visit Sir Chris
	  			</a>
  			</span>
		</div>
	</div>
</nav>
{{ else }}
<nav>
	{{ if eq .Type "post" }}
		<div class="navcontainer clear blog">
	{{ else }}
		<div class="navcontainer clear {{ .Type }}">
	{{ end }}
  		<div class="clear navbox leftnav">
  			<span>
	  			<a href="/{{ $.Scratch.Get "knight" }}" class="blog clear">
	  				<img class="" src="/assets/Castle.png" width="16px" />Sir Ryan
	  			</a>
  			</span>
			<span>
	  			<a href="/{{ $.Scratch.Get "knight" }}/timeline" class="timeline clear">
	  				<img class="" src="/assets/Boom.png" width="16px"  />Timeline
	  			</a>
  			</span>
			<span>
	  			<a href="/{{ $.Scratch.Get "knight" }}/budget" class="budget clear">
	  				<img class="" src="/assets/Money-5.png" width="16px"  />Budget
	  			</a>
  			</span>
		</div>
		<div class="clear navbox">
			<span>
	  			<a href="/{{ $.Scratch.Get "knight" }}/contact" class="contact clear">
	  				<img class="" src="/assets/Game-Controller.png" width="16px"  />Contact
	  			</a>
  			</span>
			<span>
	  			<a href="/{{ $.Scratch.Get "knight" }}/subscribe" class="subscribe clear">
	  				<img class="" src="/assets/RSS.png" width="16px"  />Subscribe
	  			</a>
  			</span>
			<span>
	  			<a href="/{{ $.Scratch.Get "knight" }}/about" class="about clear">
	  				<img class="" src="/assets/Pacman-2.png" width="16px"  />About
	  			</a>
  			</span>
		</div>
	</div>
</nav>
{{ end }}