<li class="clear">
	<div class="floatleft timestamp">
		<span class="month">{{ .Date.Format "Jan" }}</span>
		<p class="shield" style="background-image:url('/assets/Shield1.png')">{{ .Date.Format "2" }}</p>
	</div>
	<a href="{{ .Page.RelPermalink }}" class="title grace">{{ .Page.Title }}</a>
	
	<span class="comments floatright">
		<img class="icon" src="/assets/Chat-6.png" width="16px" />
		<small><a href="/" class="dotted">X Comments</a></small>
	</span>
	<img class="icon" src="/assets/Tag-star.png" width="16px">
	<small>
		{{ range $key, $value := .Params.tags }}
		<a href="" class="dotted">{{ $value }}</a>
		{{ end }}
	</small>

	<span class="more source_light">{{ .Page.Summary }}<a class="more-link" href="{{ .RelPermalink }}">Read More…</a></span>

</li>