<li class="clear">
	<div class="floatleft timestamp">
		<span class="month">{{ .Date.Format "Jan" }}</span>
		<p class="shield" style="background-image:url('/assets/Shield1.png')">{{ .Date.Format "2" }}</p>
	</div>
	<a href="{{ .Page.RelPermalink }}" class="title grace">{{ .Page.Title }}</a>
	
	<span class="comments floatright">
		<img class="icon" src="/assets/Chat-6.png" width="16px" />
		<small><a href="/" class="dotted">X Comments</a></small>
	</span>

	<span class="more source_light"><p class="clear">{{ .Page.Summary }}</p></span>
</li>