{{ $entryId := .File.BaseFileName }}
{{ $commentsForPost := index $.Site.Data.comments $entryId }}
{{ $.Scratch.Set "comment_count" "0 comments" }}
{{ with $commentsForPost }}
	{{ $count := len $commentsForPost }}
	{{ if eq $count 1 }}
		{{ $.Scratch.Set "comment_count" (printf "%s" (print 1 " comment")) }}
	{{ else }}
		{{ $.Scratch.Set "comment_count" (printf "%s" (print $count " comments")) }}
	{{ end }}
{{ end }}

<span class="comments floatright">
	<img class="icon" src="/assets/Chat-6.png" width="16px" />
	<small><a href="{{ .RelPermalink }}#comments" class="dotted"><span></span>{{ $.Scratch.Get "comment_count" }}</a></small>
</span>
<img class="icon" src="/assets/Tag-star.png" width="16px">
<small>
	{{ range $key, $value := .Params.tags }}
	<a href="/{{ $.Scratch.Get "knight" }}/tags/{{ $value }}" class="dotted">{{ $value }}</a>
	{{ end }}
</small>