@import '_variables';
@import '_mixins';


/* ------------------- TOP BAR WITH BREADCRUMBS -------------------  */

.top {
	width: 100%;
	background-color: #454545;
	height: 40px;
}

.breadcrumb {
	@include flex();
	justify-content: space-between;
	color: #fff;
	margin: 0 auto;
	padding: 10px 10px 0 10px;
	max-width: $maxWidth;
}

.breadcrumb p {
	font-family: 'SourceLight';
	font-size: 15px;
	line-height: 1.2em;
}

.breadcrumb a {
	margin: 0;
	padding: 0px 0px 0px 0px;
	/* color: overridden */
	font-size: 15px;
	text-decoration: none;
}

.switch {
	margin-left: auto;
}

/* ------------------- HEADER & SHIELDS -------------------  */

header {
	padding-top: 17px;
	text-align: center;
}

.home header {
	padding-top: 0px;
}

/// Only shows on home page
#leftChecker {
	background-color: #a4dee1;
	height: 330px;
	left: 0;
	width: 50%;
	position: absolute;
	z-index: -1;
}

.mainshield {
	width: 266px;
	height: 434px;
	text-align: center; 
	margin-top: 0px auto 0 auto;
	z-index:5;
	position: relative;
	display: inline-block;
}

.mainshield img {
	margin-top: -31px;
}

a.ryanshield {
	position: absolute;
	left: 0px;
	top: 38px;
	width: 50%;
	height: 289px;
	display: block;
	text-align: right;
	margin-right: 100px;
	z-index: 1;
	border-bottom: 3px solid #84cbd2;
	background-color: #a4dee1;
}

a.ryanshield img {
	margin-right: 35%;
	padding-top: 42px;

	@include breakpoint(normal-screen) {
		margin-right: 200px;
    }
}

a.ryanshield:hover, a.ryanshield.selected {
	background-image: linear-gradient(90deg, rgba(255,255,255,.07) 50%, transparent 50%),
	linear-gradient(90deg, rgba(255,255,255,.13) 50%, transparent 50%),
	linear-gradient(90deg, transparent 50%, rgba(255,255,255,.17) 50%),
	linear-gradient(90deg, transparent 50%, rgba(255,255,255,.19) 50%);
	background-size: 213px, 129px, 237px, 153px;
}


a.chrisshield {
	position: absolute;
	right: 0px;
	top: 38px;
	width: 50%;
	display: block;
	height: 289px;
	text-align: left;
	z-index: 1;
	border-bottom: 3px solid #c8e483;
	background-color: #d8ed9e;
}

a.chrisshield img {
	margin-left: 35%;
	padding-top: 42px;

	@include breakpoint(normal-screen) {
		margin-left: 200px;
    }
	
}

a.chrisshield:hover, a.chrisshield.selected {
	background-image: linear-gradient(90deg, rgba(255,255,255,.07) 50%, transparent 50%),
	linear-gradient(90deg, rgba(255,255,255,.13) 50%, transparent 50%),
	linear-gradient(90deg, transparent 50%, rgba(255,255,255,.17) 50%),
	linear-gradient(90deg, transparent 50%, rgba(255,255,255,.19) 50%);
	background-size: 213px, 129px, 237px, 153px;
}

a.chrisshield:hover img {
	opacity: 1 !important;
}

/* ------------------- NAVIGATION LINKS -------------------  */

nav {
	/* background-color: overriden */
	font-family: "Grace";
	letter-spacing: 1px;
	color: #454545;
	font-size: 18px;
	padding: 40px 0px 30px 0;
	z-index: 2;
	margin-top: -161px;

	@include breakpoint(tablet-screen) {
		font-size: 18px;
    }

    @include breakpoint(normal-screen) {
		font-size: 20px;
    }
}

nav div.navcontainer {
	@include flex();
	justify-content: center;
	margin: 0 auto;
	max-width: $maxWidth;
	text-align: center;
	background-color: transparent;
	box-shadow: none;
	padding: 0px 10px;

	div {
		flex-grow:1;
	}
}

nav a {
	z-index: 50;
	-webkit-backface-visibility: hidden;
}

nav span {
	padding: 0px 0px 15px 0px;
	display: inline-block;
	margin: 0px 0px;

    @include breakpoint(normal-screen) {
		padding: 0px 0px 30px 0px;
    }
}

div.navcontainer a {
	display: inline-block;
	padding: 7px 5px 10px 5px;
	margin-right: 12px; 
	position: relative;
	transform: translateZ(0);
}

.navbox {
	@include flex();
	justify-content: center;
	max-width: 430px;
}

.leftnav {
	margin-right: 225px;
}

.navbox span {
	width: 33%;
}

nav a img {
	display: none;
	margin-right: 15px;
	margin-bottom: -2px;

	@include breakpoint(normal-screen) {
		display: inline-block;
    }
}

nav div.blog a.blog:before,
nav div.timeline a.timeline:before,
nav div.budget a.budget:before,
nav div.contact a.contact:before,
nav div.subscribe a.subscribe:before,
nav div.about a.about:before {
	width: 40px;
	content: " ";
	background: url("../assets/halfarrow2.png") center right no-repeat;
	height: 50px;
	position: absolute;
	left: 0;
	margin-left: -20px;
	top: 34px; 
}

nav div.blog a.blog,
nav div.timeline a.timeline,
nav div.budget a.budget,
nav div.contact a.contact,
nav div.subscribe a.subscribe,
nav div.about a.about {
	border-bottom: 2px solid #454545;
}


/* TOOLBOX */

a.rotate img {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out; 
	-o-transition: all 0.3s ease-in-out; 
	-ms-transition: all 0.3s ease-in-out; 
}

a.rotate img:hover { 
	-webkit-transform: rotate(10deg); 
	-moz-transform: rotate(10deg); 
	-o-transform: rotate(10deg);
	-ms-transform: rotate(10deg); 
}

a.counterrotate img {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out; 
	-o-transition: all 0.3s ease-in-out; 
	-ms-transition: all 0.3s ease-in-out; 
}

a.counterrotate img:hover { 
	-webkit-transform: rotate(-10deg); 
	-moz-transform: rotate(-10deg); 
	-o-transform: rotate(-10deg);
	-ms-transform: rotate(-10deg); 
}

a.slide img {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out; 
	-o-transition: all 0.3s ease-in-out; 
	-ms-transition: all 0.3s ease-in-out; 
}

a.slide img:hover { 
	-webkit-transform: translate(0px, 5px); 
	-moz-transform: translate(0px, 5px); 
	-o-transform: translate(0px, 5px); 
	-ms-transform: translate(0px, 5px); 
}