{{ define "main" -}}

{{ $.Scratch.Set "allPostsInCategory" .Site.Taxonomies.categories.sirchris }}
{{ if (in .Params.categories "sirryan") }}
	{{ $.Scratch.Set "allPostsInCategory" .Site.Taxonomies.categories.sirryan }}
{{ end }}
{{ $sortedPosts := (sort ($.Scratch.Get "allPostsInCategory") "Date" "desc") }}

{{ $.Scratch.Set "budget" 25000 }}

<div class="outercontent">
  	<div class="content clear">

  		<div class="floatleft activity posts">
  	  		<ul class="recent">
  	  		
  	  		{{ range $sortedPosts }}
	  	  		{{ if in .Params.tags "budget" }}

	  	  			{{ if isset .Params "amount" }}
	  	  				{{ $currentAmount := float .Params.amount }}
	  	  				{{ $newAmount := sub ($.Scratch.Get "budget") $currentAmount }}
	  	  				{{ $.Scratch.Set "budget" $newAmount }}
	  	  			{{ end }}

	  	  			{{ $randomShield := index (first 1 (shuffle (seq 7 12))) 0 }}

	  	  			<li class="clear">
	  	  				{{ partial "post_summary.html" . }}


					</li>
				{{ end }}
  	  		{{ end }}
			
  	  		</ul>	
  	  	</div>
  	  	<div class="floatleft activity right common">
			<h3 class="remaining">${{ lang.NumFmt 0 ($.Scratch.Get "budget")  }} Left</h3>

			<h4>What is the budget?</h4>
			<p>Each brother has $25,000 to spend. Anything over that will count against the final profits when determining a winner. To the left, you can find a log of all of Chris's expenses.</p>

			{{ partial "contest.html" . }}
			{{ partial "enemy.html" . }}
		</div> <!-- #activity -->
	</div>


  </div> <!-- #content -->

{{- end }}