nav a {
	font-size: 14px !important;
}

nav div.main a.main:before,
nav div.timeline a.timeline:before,
nav div.budget a.budget:before,
nav div.contact a.contact:before,
nav div.subscribe a.subscribe:before,
nav div.about a.about:before {
	top: 30px !important; 
}

.social-media, .social {
	visibility: hidden !important;
}