@charset "UTF-8";
/* RECENT BLOG POSTS */
.posts {
  padding-top: 30px; }

.posts li {
  margin-bottom: 30px; }

.recent a.title {
  /*color: overridden */
  text-decoration: none;
  font-size: 26px;
  text-transform: uppercase;
  display: block;
  width: 85%;
  margin-left: 60px;
  padding-top: 10px;
  margin-bottom: 5px;
  font-family: 'Grace'; }

.recent a.title:hover {
  text-decoration: underline; }

.title {
  line-height: 1.2em; }

.recent img {
  margin-left: 20px;
  margin-bottom: -4px; }

.recent small {
  font-family: 'SourceLight'; }

.recent small a {
  margin-left: 10px; }

.comments {
  margin-right: 18px; }

.comments img {
  margin-bottom: -4px; }

.recent hr {
  margin-top: 10px; }

/* BLOG EXCERPT & READ MORE */
.more {
  font-family: 'SourceLight'; }

.more p {
  margin-left: 60px;
  margin-top: 20px;
  color: #454545;
  font-size: 1.2em;
  width: 85%;
  font-family: 'SourceLight'; }

a.more-link {
  line-height: 1.6em;
  font-size: 14px;
  font-family: 'SourceLight';
  letter-spacing: 0px;
  position: relative;
  float: right;
  margin: 0px 18px 0px 0px;
  display: block;
  text-align: right;
  clear: both;
  /* border-bottom: overridden 
	color: #overridden */ }

a.more-link:after {
  content: " ↣";
  /*color: overridden; */ }

/* TWEETS */
.really_simple_twitter_widget {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1em;
  font-family: 'SourceLightIt';
  font-style: italic; }

.really_simple_twitter_widget li {
  margin-bottom: 30px;
  font-family: 'SourceLight';
  position: relative;
  background: url("../assets/twitter.png") center left no-repeat;
  padding-left: 40px; }

.really_simple_twitter_widget li:last-child {
  margin-bottom: 0px; }

.rstw_comma {
  display: none; }

.twitter-timestamp {
  font-size: 14px;
  font-family: 'Source';
  font-style: normal;
  margin-left: 5px; }

/* WEEKLY STATUS UPDATE & LATEST EVENTS */
.progress {
  margin: 0px 0px 15px 0px;
  background-color: #fff;
  box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.08); }

.activity h4 {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 23px;
  line-height: 1.5em;
  font-family: 'Grace';
  background-color: none;
  margin-top: 30px; }

.activity h4 span.pound {
  font-family: 'Source';
  font-size: 20px;
  padding-right: 3px; }

.progress img {
  padding-left: 30px;
  padding-right: 5px; }

.progress img.icon {
  margin-bottom: -3px; }

.progress .comments {
  padding-right: 12px; }

.progress .subhero {
  width: 100%;
  display: inline-block; }

.subhero img {
  width: 88%;
  padding: 6% 6% 0 6%; }

a.subtext {
  font-size: 15px;
  margin: 5px 0px;
  text-align: right;
  letter-spacing: 0px;
  float: right;
  font-family: 'SourceLight'; }

.posts .subtext {
  margin-right: 10px; }

.latest {
  margin-top: 40px; }

.progress ul {
  list-style: none;
  margin: -10px 0px 0px 0px;
  padding: 0px 30px 30px 30px;
  font-family: 'Grace';
  font-size: 20px;
  text-transform: uppercase;
  clear: both; }

.progress li {
  font-family: 'SourceLight';
  padding: 5px 0px 5px 30px;
  margin-left: 30px;
  background: url("../assets/bullet2.png") center left no-repeat;
  text-transform: none;
  font-size: 15px;
  letter-spacing: 0px; }

.progress li:first-child {
  margin-top: 10px; }

.progress p {
  font-family: 'SourceLight';
  font-size: 1em;
  margin: 15px 0 0 0;
  padding: 0px 30px 5px 30px; }

.progress a.more-link {
  margin-bottom: 20px;
  margin-right: 30px;
  margin-top: 10px; }

.year {
  display: none; }
