@charset "UTF-8";
/* RESETS & BASIC PAGE SETUP */
* {
  margin: 0;
  padding: 0; }

html {
  min-height: 100%;
  position: relative; }

/* make sure it is at least as tall as the viewport */
body {
  height: 100%;
  background: #a4dee1;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2E0ZGVlMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2E0ZGVlMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzg0Y2JkMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4NGNiZDIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(left, #a4dee1 0%, #a4dee1 50%, #84cbd2 50%, #84cbd2 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #a4dee1), color-stop(50%, #a4dee1), color-stop(50%, #84cbd2), color-stop(100%, #84cbd2));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #a4dee1 0%, #a4dee1 50%, #84cbd2 50%, #84cbd2 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #a4dee1 0%, #a4dee1 50%, #84cbd2 50%, #84cbd2 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #a4dee1 0%, #a4dee1 50%, #84cbd2 50%, #84cbd2 100%);
  /* IE10+ */
  background: linear-gradient(to right, #a4dee1 0%, #a4dee1 50%, #84cbd2 50%, #84cbd2 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a4dee1', endColorstr='#84cbd2',GradientType=1 );
  /* IE6-8 */ }

p {
  font-size: 1.2em;
  line-height: 1.2em;
  margin-bottom: 1.2em; }

a {
  outline: none; }

a img {
  border: none; }

/* CHECKERS AT TOP */
#rightChecker {
  background-color: #A4DEE1;
  height: 439px;
  right: 0;
  width: 50%;
  position: absolute;
  z-index: -1; }

#leftChecker {
  background-color: #84cbd2;
  height: 439px;
  left: 0;
  width: 50%;
  position: absolute;
  z-index: -1; }

/*.nav a.active {
	background-color: #a769a2;
	color: #FFF;
}*/
/* ARTICLE */
article {
  margin: 60px 0 0px 0;
  background-color: #def3f4;
  min-height: 700px;
  width: 960px; }

.post blockquote {
  border-left: 3px solid #a769a2; }

.embedleft {
  border-right: 3px solid #a769a2;
  border-left: none !important; }

/* LINK INDICATOR */
.arrow:after {
  color: #a769a2;
  content: " ↣"; }

/* RIBBON FOR CATEGORIES */
.ribbon {
  background: #ba89b6 !important; }

.ribbon:after {
  content: "";
  position: absolute;
  display: block;
  bottom: -1em;
  border: 1em solid #986794;
  z-index: -1; }

.ribbon .ribbon-content:after {
  border-color: #804f7c transparent transparent transparent !important; }

/* BACKGROUND COLORS */
#rightChecker {
  height: 360px; }

#leftChecker {
  height: 360px; }

/* CONTAINER FOR BOTH HALVES OF CONTENT */
.activity {
  width: 460px;
  padding: 30px 0px 20px 10px;
  margin-top: 80px; }

.activity ul {
  list-style: none; }

.activity ul li {
  display: block; }

/* RECENT BLOG POSTS */
.posts {
  padding: 30px 20px 20px 0px; }

.posts a {
  color: #454545;
  text-decoration: none;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: block;
  width: 350px;
  margin-left: 60px;
  padding-top: 10px; }

.posts a:hover {
  text-decoration: underline; }

a.moreblog {
  background-color: rgba(0, 0, 0, 0.08);
  width: 322px;
  text-align: center;
  font-weight: lighter;
  padding: 10px 10px 7px 10px;
  margin-top: 40px;
  font-size: 14px;
  text-transform: none;
  letter-spacing: 1px;
  transition: all 0.2s linear; }

a.moreblog:hover, a.moreblog:focus {
  background-color: #454545;
  color: #fff;
  text-decoration: none; }

.title {
  line-height: 1.2em; }

/* BLOG EXCERPT & READ MORE */
.more {
  font-family: 'SourceLight'; }

.more p {
  margin-left: 60px;
  margin-top: 5px;
  margin-bottom: 30px;
  line-height: 1.6em;
  color: #454545;
  font-size: 1.1em;
  width: 370px;
  font-family: 'SourceLight';
  text-align: justify; }

a.more-link {
  line-height: 1.6em;
  width: 75px;
  font-size: 14px;
  text-transform: none;
  text-decoration: none;
  font-family: 'SourceLight';
  letter-spacing: 0px;
  color: #fff;
  position: relative;
  background: #a769a2;
  color: #fff;
  text-align: center;
  padding: 0em 0.3em;
  /* Adjust to suit */
  margin: 15px 0 1em 272px;
  display: block; }

a.more-link:after {
  content: "";
  position: absolute;
  display: block;
  bottom: 0em;
  border: 11px solid #a769a2;
  z-index: -1;
  right: -1em;
  border-right-color: transparent; }

a.more-link:hover {
  text-decoration: underline; }

/* TIMESTAMP FOR RECENT BLOG POSTS */
.shield {
  background-repeat: no-repeat;
  height: 40px;
  width: 40px;
  text-align: center;
  padding-top: 11px;
  font-size: 16px; }

.month {
  font-size: 14px;
  letter-spacing: 1px;
  width: 40px;
  text-align: center;
  display: block;
  text-transform: uppercase; }

/* TWEETS */
.tweets {
  margin-left: 35px; }

/* The actual tweet */
.tweet {
  font-size: 1.1em;
  margin-bottom: 20px;
  color: #454545;
  text-decoration: none;
  display: block;
  width: 370px;
  margin-left: 60px;
  padding-top: 10px; }

.tweet:hover {
  text-decoration: underline; }

/* The twitter logo */
.twitter {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 60px;
  margin-top: -10px;
  margin-bottom: 0px; }

/* WEEKLY STATUS UPDATE & LATEST EVENTS */
.progress {
  margin: 60px 0px 0px 40px; }

.progress h4 {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 22px;
  letter-spacing: 1px;
  line-height: 1.5em; }

.progress img {
  border: 15px solid rgba(0, 0, 0, 0.05);
  display: block;
  transition: all 0.2s linear; }

.progress a img:hover {
  border: 15px solid rgba(0, 0, 0, 0.1); }

a.subtext {
  text-transform: none;
  font-size: 13px;
  margin: 5px 0px;
  color: #000;
  text-align: right;
  letter-spacing: 0px;
  width: 430px;
  display: block;
  text-decoration: none; }

a.subtext:hover {
  text-decoration: underline; }

.latest {
  margin-top: 40px; }

.progress ul {
  margin-left: 40px;
  margin-top: 10px;
  list-style: none; }

.progress li {
  background: url("../assets/bullet.png") center left no-repeat;
  padding-left: 30px;
  margin-bottom: 15px;
  font-size: 16px; }
