@import 'includes/_mixins';

/* RESETS & BASIC PAGE SETUP */

* { margin: 0; padding: 0; }
html{min-height:100%;position:relative}/* make sure it is at least as tall as the viewport */
body { 
	height: 100%;
	background: #d8ed9e; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Q4ZWQ5ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2Q4ZWQ5ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2M4ZTQ4MyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2M4ZTQ4MyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(left,  #d8ed9e 0%, #d8ed9e 50%, #c8e483 50%, #c8e483 50%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#d8ed9e), color-stop(50%,#d8ed9e), color-stop(50%,#c8e483), color-stop(50%,#c8e483)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #d8ed9e 0%,#d8ed9e 50%,#c8e483 50%,#c8e483 50%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #d8ed9e 0%,#d8ed9e 50%,#c8e483 50%,#c8e483 50%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #d8ed9e 0%,#d8ed9e 50%,#c8e483 50%,#c8e483 50%); /* IE10+ */
	background: linear-gradient(to right,  #d8ed9e 0%,#d8ed9e 50%,#c8e483 50%,#c8e483 50%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8ed9e', endColorstr='#c8e483',GradientType=1 ); /* IE6-8 */
}

p { font-size: 1.2em; line-height: 1.2em; margin-bottom: 1.2em; }
a { outline: none; }
a img { border: none; }

/* LINKS */

a.solid, a.twitter-user, cite.fn a {
	color: #D86D51;
	font-family: 'Source';
}

a.dotted, a.comment-reply-link, .logged-in-as a, #reply-title a, .post a, .events a,
a.twitter-link, .events a, .progress p a, .comment-body a, .twitter-timestamp a, .tagcloud li a {
	color: #83a825;
	border-bottom: 1px dotted #D86D51;
}

a.dotted:hover, a.comment-reply-link:hover, .logged-in-as a:hover, #reply-title a:hover, .events a:hover,
.post a:hover, a.twitter-link:hover, a.more-link:hover, .events a:hover, .progress p a:hover, .comment-body a:hover,
.twitter-timestamp a:hover, .tagcloud li a:hover {
	border-bottom: 1px solid #D86D51;
}

a.arrow:after {
	color: #D86D51;
}

a.more-link:after, .feeds li span {
	color: #D86D51;
}

li.mailchimp input[type=submit] {
	background-color: #D86D51;
}

.enemy h4 {
	color: #bf4f6f !important;
}

.breadcrumb a {
	color: #d8ed9e;
	border-bottom: 1px dotted #d8ed9e;
}

.breadcrumb a:hover {
	border-bottom: 1px solid #d8ed9e;
}

.underline:before {
	background-color: #7F9A33;
}

.remaining {
	background-color: #D86D51;
}

ul.events li.mailchimp input[type=submit]:hover {
	background-color: #c8e483;
}

/* CHECKERS AT TOP */

.outercontent {
	background-color: #fcfff3;
}

/* HEADER */

nav {
	background-color: #fcfff3;
}

/* ARTICLE */

article {
	min-height: 400px;
	max-width: 960px;	
	margin-top:30px;
	@include breakpoint(tablet-screen) {
		margin-top:0px;
    }
}

article h3 {
	color: #D86D51;
}

.embed {
	border-left: 3px solid #D86D51;
}

.embedleft {
	border-right: 3px solid #D86D51;
	border-left: none !important;
}

.recent a.title {
	color: #D86D51;
}

a.more-link {
	border-bottom: 1px dotted #D86D51;
	color: #83a825;
}

/* SUBMIT BUTTON */

#submit {
	background: #D86D51;
}

/* RIBBON FOR CATEGORIES */

.ribbon {
	background: #D86D51 !important;
}

.ribbon:after {
	content: "";
	position: absolute;
	display: block;
	bottom: -1em;
	border: 1em solid #c95a2c;
	z-index: -1;
}

.ribbon .ribbon-content:after {
	border-color: #b45128 transparent transparent transparent !important;
}

/* COMMENT BACKGROUND */

.comment-wrapper {
	background-color: #d8ed9e;
}

.comment-body .reply {
	background-color: #d8ed9e;
}

.comment-body blockquote p {
	border-left: 3px solid #D86D51;
}