@import 'includes/_variables';
@import 'includes/_mixins';

/* This is because the left checker and right checker miss by 1 pixel */

body {
	background: #d8ed9e; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RlZjNmNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2RlZjNmNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2Q4ZWQ5ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkOGVkOWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(left,  #def3f4 0%, #def3f4 50%, #d8ed9e 50%, #d8ed9e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#def3f4), color-stop(50%,#def3f4), color-stop(50%,#d8ed9e), color-stop(100%,#d8ed9e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #def3f4 0%,#def3f4 50%,#d8ed9e 50%,#d8ed9e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #def3f4 0%,#def3f4 50%,#d8ed9e 50%,#d8ed9e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #def3f4 0%,#def3f4 50%,#d8ed9e 50%,#d8ed9e 100%); /* IE10+ */
	background: linear-gradient(to right,  #def3f4 0%,#def3f4 50%,#d8ed9e 50%,#d8ed9e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#def3f4', endColorstr='#d8ed9e',GradientType=1 ); /* IE6-8 */
}

/* HOME PAGE HAS A CUSTOM NAV SO THE OVERRIDES ARE HERE */

.homecontent {
	max-width: 968px;
	margin: 0 auto;
}

.home nav {
	margin-top: -100px !important;
}

.home .mainshield img {
	margin-top: 10px;
}

.home .mainshield a {
	margin-top: 0px;
}

.home .recent a.title {
	color: #454545;
}

.home .leftnav {
	margin-right: 245px;
}

.home .leftnav, .home .rightnav {
	text-align: center;
	max-width: 360px;
}

.home .leftnav a {
	color: #fff;
	font-size: 16px;
	background-color: #bf4f6f;
	padding: 15px 10px;
	border: 5px solid #fff;
	@include breakpoint(tablet-screen) {
		background-image: url("../assets/swirls.png");
		font-size: 22px;
		padding: 15px 60px;
    }
	position: relative;
}

.home .leftnav a:hover, .home .rightnav a:hover {
	background-color: #454545;
}

.home .rightnav a {
	color: #fff;
	font-size: 16px;
	background-color: #D86D51;
	padding: 15px 10px;
	border: 5px solid #fff;
	@include breakpoint(tablet-screen) {
		background-image: url("../assets/swirls.png");
		font-size: 22px;
		padding: 15px 60px;
    }
}

.home .rightnav img, .home .leftnav img {
	margin-top: 3px;
}

.home a.ryanshield:hover, .home a.chrisshield:hover, .home a.selected {
	background: none !important;
}

.home a.ryanshield, .home a.chrisshield {
	border-bottom: none;
}

.breaker {
	display: none;
	@include breakpoint(tablet-screen) {
		display: block;
    }
}

/* CURRENTLY THE FAQ ABOUT THE CONTEST ON HOME PAGE - If we use pattern elsewhere, move to common */

.faq {
	@include flex();
	flex-direction:column;
	margin-top: 175px;
	margin-bottom: 50px;
	background-color: #fff;
	box-shadow: 5px 5px 2px rgba(0,0,0,0.08);
	padding: 30px 0px;
	width: 100%;
	@include breakpoint(tablet-screen) {
		margin-top: 50px;
		flex-direction:row;
    }
}

.faq .question {
	max-width: 100%;
	padding-bottom: 20px;
	@include breakpoint(tablet-screen) {
		max-width: 50%;
    }
}

.faq .question h4 {
	text-transform: uppercase;
	font-size: 26px;
	padding: 40px 40px 0 40px;
	font-weight: normal;
	font-family: 'Grace';
}

.faq .question p {
	font-size: 1.1em;
	padding: 5px 40px 0px 40px;
	line-height: 1.6em;
	font-family: 'SourceLight';
}

.faq a {
	color: #3aabb1;
	border-bottom: 1px dotted #7b9c1d;
}

.faq a:hover {
	border-bottom: 1px solid #7b9c1d;
}