{{ define "main" -}}

	<div class="outercontent">
  	  <div class="content clear">

		<div class="floatleft activity common">
			<h4>How May I Assist?</h4>
			<div id="wufoo-qq8giqc10gsoxx" class="wufoo">
			Fill out my <a href="https://veeneck.wufoo.com/forms/qq8giqc10gsoxx">online form</a>.
			</div>
			<script type="text/javascript">var qq8giqc10gsoxx;(function(d, t) {
			var s = d.createElement(t), options = {
			'userName':'veeneck',
			'formHash':'qq8giqc10gsoxx',
			'autoResize':true,
			'height':'605',
			'async':true,
			'host':'wufoo.com',
			'header':'show',
			'ssl':true};
			s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
			s.onload = s.onreadystatechange = function() {
			var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
			try { qq8giqc10gsoxx = new WufooForm();qq8giqc10gsoxx.initialize(options);qq8giqc10gsoxx.display(); } catch (e) {}};
			var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
			})(document, 'script');</script>

			{{ partial "enemy.html" . }}
		</div> <!-- #activity -->

		<div class="floatleft activity right common">
			{{ partial "intouch.html" . }}
			<div class="callout clear">
				<h4>What's this contest about?</h4>
				<p>Armed with little to no game development experience, the Brothers Campbell are attempting to make video games for a living.
				We believe the best way for us to learn is to do what comes naturally to brothers &#8212; Compete! 
				The challenge is to see who can make the most successful video game on a budget of $25,000 and in one year’s time. 
				The duel begins on April 7th, 2014 and we'll be documenting the journey.</p>

				<hr class="dots" />


				<h4>How will you determine the winner?</h4>
				<p>It’s simple. The most profitable game wins. We’ll have 6 months to market the game after the one year development deadline on April 7th, 2015.</p>
				<a href="/" class="subtext dotted arrow">Learn more about the competition</a>
			</div>
		</div> <!-- #activity -->
	</div>
  </div> <!-- #content -->

{{- end }}