{{ define "main" -}}

	<div class="outercontent">
  	  <div class="content clear">

		<div class="floatleft activity common">
			<h4>How May I Assist?</h4>
			<div id="wufoo-qq8giqc10gsoxx" class="wufoo">
			Fill out my <a href="https://veeneck.wufoo.com/forms/qq8giqc10gsoxx">online form</a>.
			</div>
			<script type="text/javascript">var qq8giqc10gsoxx;(function(d, t) {
			var s = d.createElement(t), options = {
			'userName':'veeneck',
			'formHash':'qq8giqc10gsoxx',
			'autoResize':true,
			'height':'605',
			'async':true,
			'host':'wufoo.com',
			'header':'show',
			'ssl':true};
			s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
			s.onload = s.onreadystatechange = function() {
			var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
			try { qq8giqc10gsoxx = new WufooForm();qq8giqc10gsoxx.initialize(options);qq8giqc10gsoxx.display(); } catch (e) {}};
			var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
			})(document, 'script');</script>

			{{ partial "enemy.html" . }}
		</div> <!-- #activity -->

		<div class="floatleft activity right common">
			{{ partial "intouch.html" . }}
			{{ partial "contest.html" . }}
		</div> <!-- #activity -->
	</div>
  </div> <!-- #content -->

{{- end }}