@charset "UTF-8";
/* RESETS & BASIC PAGE SETUP */
* {
  margin: 0;
  padding: 0; }

html {
  min-height: 100%;
  position: relative; }

/* make sure it is at least as tall as the viewport */
body {
  height: 100%;
  background: #d8ed9e;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Q4ZWQ5ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2Q4ZWQ5ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2M4ZTQ4MyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2M4ZTQ4MyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(left, #d8ed9e 0%, #d8ed9e 50%, #c8e483 50%, #c8e483 50%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #d8ed9e), color-stop(50%, #d8ed9e), color-stop(50%, #c8e483), color-stop(50%, #c8e483));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #d8ed9e 0%, #d8ed9e 50%, #c8e483 50%, #c8e483 50%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #d8ed9e 0%, #d8ed9e 50%, #c8e483 50%, #c8e483 50%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #d8ed9e 0%, #d8ed9e 50%, #c8e483 50%, #c8e483 50%);
  /* IE10+ */
  background: linear-gradient(to right, #d8ed9e 0%, #d8ed9e 50%, #c8e483 50%, #c8e483 50%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d8ed9e', endColorstr='#c8e483',GradientType=1 );
  /* IE6-8 */ }

p {
  font-size: 1.2em;
  line-height: 1.2em;
  margin-bottom: 1.2em; }

a {
  outline: none; }

a img {
  border: none; }

/* CHECKERS AT TOP */
#rightChecker {
  background-color: #c8e483;
  height: 439px;
  position: fixed;
  right: 0;
  width: 50%;
  z-index: -3; }

#leftChecker {
  background-color: #d8ed9e;
  height: 439px;
  position: fixed;
  left: 0;
  width: 50%;
  z-index: -3; }

.nav a.active {
  background-color: #d87851;
  color: #FFF; }

/* ARTICLE */
article {
  margin: 60px 0 0px 0;
  background-color: #F5FFD9;
  min-height: 700px;
  width: 960px; }

.post blockquote {
  border-left: 3px solid #d87851; }

.embedleft {
  border-right: 3px solid #d87851;
  border-left: none !important; }

/* LINK INDICATOR */
.arrow:after {
  color: #b45128;
  content: " ↣"; }

/* RIBBON FOR CATEGORIES */
.ribbon {
  background: #d87851 !important; }

.ribbon:after {
  content: "";
  position: absolute;
  display: block;
  bottom: -1em;
  border: 1em solid #c95a2c;
  z-index: -1; }

.ribbon .ribbon-content:after {
  border-color: #b45128 transparent transparent transparent !important; }
