/* CONTAINER FOR BOTH HALVES OF CONTENT */
.activity {
  width: 440px;
  padding: 30px 0px 20px 30px;
  margin-top: 50px; }

.activity ul {
  list-style: none; }

.activity ul li {
  display: block; }

/* RECENT BLOG POSTS */
.posts {
  padding: 30px 20px 20px 0px; }

.posts a {
  color: #454545;
  text-decoration: none;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: block;
  width: 350px;
  margin-left: 60px;
  padding-top: 10px; }

.posts a:hover {
  text-decoration: underline; }

a.moreblog {
  background-color: rgba(0, 0, 0, 0.08);
  width: 322px;
  text-align: center;
  font-weight: lighter;
  padding: 10px 10px 7px 10px;
  margin-top: 40px;
  font-size: 14px;
  text-transform: none;
  letter-spacing: 1px;
  transition: all 0.2s linear; }

a.moreblog:hover, a.moreblog:focus {
  background-color: #454545;
  color: #fff;
  text-decoration: none; }

.title {
  line-height: 1.2em; }

/* BLOG EXCERPT & READ MORE */
.more {
  font-family: 'SourceLight'; }

.more p {
  margin-left: 60px;
  margin-top: 5px;
  margin-bottom: 30px;
  line-height: 1.6em;
  font-size: 1.1em;
  color: #454545;
  width: 370px;
  font-family: 'SourceLight';
  text-align: justify; }

a.more-link {
  line-height: 1.6em;
  width: 75px;
  font-size: 14px;
  text-transform: none;
  text-decoration: none;
  font-family: 'SourceLight';
  letter-spacing: 0px;
  color: #fff;
  position: relative;
  background: #d87851;
  color: #fff;
  text-align: center;
  padding: 0em 0.3em;
  /* Adjust to suit */
  margin: 15px 0 1em 272px;
  display: block; }

a.more-link:after {
  content: "";
  position: absolute;
  display: block;
  bottom: 0em;
  border: 11px solid #d87851;
  z-index: -1;
  right: -1em;
  border-right-color: transparent; }

a.more-link:hover {
  text-decoration: underline; }

/* TIMESTAMP FOR RECENT BLOG POSTS */
.shield {
  background-repeat: no-repeat;
  height: 40px;
  width: 40px;
  text-align: center;
  padding-top: 11px;
  font-size: 16px; }

.month {
  font-size: 14px;
  letter-spacing: 1px;
  width: 40px;
  text-align: center;
  display: block;
  text-transform: uppercase; }

/* TWEETS */
.tweets {
  margin-left: 35px; }

/* The actual tweet */
.tweet {
  font-size: 1.1em;
  margin-bottom: 20px;
  color: #454545;
  text-decoration: none;
  display: block;
  width: 370px;
  margin-left: 60px;
  padding-top: 10px; }

.tweet:hover {
  text-decoration: underline; }

/* The twitter logo */
.twitter {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 60px;
  margin-top: -10px;
  margin-bottom: 0px; }

/* WEEKLY STATUS UPDATE & LATEST EVENTS */
.progress {
  margin: 60px 0px 0px 40px; }

.progress h4 {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 22px;
  letter-spacing: 1px;
  line-height: 1.5em; }

.progress img {
  border: 15px solid rgba(0, 0, 0, 0.05);
  display: block;
  transition: all 0.2s linear; }

.progress a img:hover {
  border: 15px solid rgba(0, 0, 0, 0.1); }

a.subtext {
  text-transform: none;
  font-size: 13px;
  margin: 5px 0px;
  color: #454545;
  text-align: right;
  letter-spacing: 0px;
  width: 410px;
  display: block;
  text-decoration: none; }

a.subtext:hover {
  text-decoration: underline; }

.latest {
  margin-top: 40px; }

.progress ul {
  margin-left: 40px;
  margin-top: 10px;
  list-style: none; }

.progress li {
  background: url("../assets/bullet.png") center left no-repeat;
  padding-left: 30px;
  margin-bottom: 15px;
  font-size: 16px; }
