@charset "UTF-8";
/* GENERAL */
/* RYAN */
/* CHRIS */
/* FONTS */
.grace {
  font-family: 'Grace'; }

.legacy {
  font-family: 'Legacy'; }

.social {
  font-family: 'Social'; }

.source {
  font-family: 'Source'; }

.source_light {
  font-family: 'SourceLight'; }

@font-face {
  font-family: 'Grace';
  src: url("fonts/Grace/CoveredByYourGrace.ttf") format("truetype"); }

@font-face {
  font-family: 'Legacy';
  src: url("fonts/Legacy/wg_legacy_edition.ttf") format("truetype"); }

@font-face {
  font-family: 'Social';
  src: url("fonts/SocialMedia/SocialMediaIcons.ttf") format("truetype"); }

@font-face {
  font-family: 'Source';
  src: url("fonts/source-sans-pro/SourceSansPro-Regular.otf") format("truetype"); }

@font-face {
  font-family: 'SourceLight';
  src: url("fonts/source-sans-pro/SourceSansPro-Light.otf") format("truetype");
  src: url("fonts/SourceSansPro/EOT/SourceSansPro-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/SourceSansPro/WOFF/OTF/SourceSansPro-Light.otf.woff") format("woff"), url("fonts/SourceSansPro/WOFF/TTF/SourceSansPro-Light.otf.ttf") format("truetype"), url("fonts/SourceSansPro/SVG/SourceSansPro-Light.svg#Museo100Regular") format("svg"); }

@font-face {
  font-family: 'SourceLightIt';
  src: url("fonts/source-sans-pro/SourceSansPro-LightIt.otf") format("truetype"); }

a {
  color: #454545;
  text-decoration: none; }

a.dotted {
  /* border-bottom: overwritten */
  text-decoration: none; }

a.dotted:hover {
  /* border-bottom: overwritten */ }

a.arrow:after {
  /* color: overwritten */
  content: " ↣"; }

.underline {
  overflow: hidden;
  display: inline-block;
  margin-bottom: -14px;
  /* Value depends on your design. Fix the awkward space from overflow:hidden. */
  transition: all .3s;
  /* Once again, vendor prefixes required. */ }

.underline:before {
  content: "";
  position: absolute;
  left: -100%;
  bottom: 0;
  display: block;
  width: 100%;
  height: 1px;
  /* background-color: overwritten */
  transition: all .3s;
  /* Once again, vendor prefixes required. */ }

.underline:hover:before {
  left: 0;
  transition: all .3s;
  /* Once again, vendor prefixes required. */ }

a.active {
  /* background-color: overwritten */
  color: #454545;
  position: relative; }

/*a.active:before {
    content: "";
    display: block;
    width: 0; 
    height: 0; 
    border-left: 12px solid transparent;*/
/* border-top: overwritten */
/*border-right: 12px solid transparent; 
    position: absolute;
    top: 38px;
    left: 40px;
    transition: all 0.2s linear;
}

a.active:hover:before {
	border-top: 12px solid #454545;
}*/
a.chris {
  color: #D8EBA5;
  border-bottom: 1px dotted #D8EBA5; }

a.chris:hover {
  color: #D8EBA5;
  border-bottom: 1px solid #D8EBA5; }

a.ryan {
  color: #A4DEE1;
  border-bottom: 1px dotted #A4DEE1; }

a.ryan:hover {
  color: #A4DEE1;
  border-bottom: 1px solid #A4DEE1; }

/* GENERAL */
/* RYAN */
/* CHRIS */
/* RESETS & BASIC PAGE SETUP */
* {
  margin: 0;
  padding: 0; }

html {
  min-height: 100%;
  position: relative;
  font-family: 'SourceLight', 'Garamond'; }

/* make sure it is at least as tall as the viewport */
body {
  color: #454545; }

p {
  font-size: 1.2em;
  line-height: 1.6em;
  margin-bottom: 1.2em; }

a {
  outline: none; }

a img {
  border: none; }

/* TOOLBOX */
.floatleft {
  float: left; }

.floatright {
  float: right; }

.clear:before, .clear:after {
  content: "";
  display: table; }

.clear:after {
  clear: both; }

#wpstats, #wpadminbar {
  display: none; }

/* CONTENT - HOLDS ALL CONTENT ON PAGE */
.content {
  margin: 0 auto;
  max-width: 1080px;
  padding: 0px 10px; }

.outercontent {
  width: 100%;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 40px 0px;
  height: 100%; }

.outercontentalt {
  padding-bottom: 80px; }

/* HALF THE WIDTH OF THE PAGE -- USEFUL TO SHOW RECENT BLOG POSTS */
/* Because the widths are dependent on the content, the right side has a margin because the left side rarely reaches all of the way across.
This make sit look symmetrical most of the time */
/*
Main width: 480px;
Left side: 460 w/ 20 padding on right;
right side: 450 with 30 padding on left;

When you use this container, and you should so that every page has the same layout, make sure the inner contents don't force this larger

*/
.activity {
  width: 100%;
  min-width: 350px;
  padding: 20px 3% 20px 0px;
  margin-top: 30px;
  margin-bottom: 30px; }
  @media (min-width: 800px) {
    .activity {
      width: 50%;
      marign-top: 0px; } }

.activity.right {
  width: 100%;
  padding: 0px 0px 20px 0px; }
  @media (min-width: 800px) {
    .activity.right {
      padding-top: 20px;
      width: 47%; } }

.activity ul {
  list-style: none; }

.activity ul li {
  display: block; }

/* SHIELD AND DATE - Set to a default shield and overriden in PHP */
.shield {
  background-image: url("../assets/Shield1.png");
  background-repeat: no-repeat;
  height: 40px !important;
  width: 40px !important;
  text-align: center !important;
  padding-top: 11px !important;
  font-size: 16px !important;
  font-family: 'Legacy' !important;
  color: #454545  !important;
  line-height: 1.2em !important; }

.month {
  font-size: 14px;
  letter-spacing: 1px;
  width: 40px;
  text-align: center;
  display: block;
  text-transform: uppercase;
  font-family: 'Legacy'; }

.timestamp {
  height: 100px; }

/* SWIRLY DIVIDER FOR CONTENT CHANGES */
hr {
  background-image: url("../assets/HorizontalRule.png");
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
  padding: 0px;
  margin: 0px auto;
  width: 960px;
  height: 50px; }

hr.dots {
  background-image: url("../assets/hr_dots.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 480px;
  height: 20px;
  margin-top: 40px; }

/* STANDARD STYLES */
.common h4 {
  font-family: 'Grace';
  font-size: 23px;
  text-transform: uppercase;
  font-weight: normal;
  margin-top: 0px !important;
  color: #454545; }

.common p, .common ul {
  font-family: 'SourceLight';
  line-height: 1.6em;
  font-size: 1.1em; }

.common ul {
  margin-top: 30px;
  text-align: left; }

.common li {
  margin: 0px 0px 10px 0px;
  font-size: 1em; }

.common strong {
  font-weight: normal;
  font-family: 'Source';
  color: #fff;
  background-color: #454545;
  padding: 2px 5px; }

.common img.inlineright {
  margin: 0px 0px 30px 30px;
  border: 15px solid #fff;
  box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.08); }

.common .intouch img {
  margin: 0px 10px 0px 0;
  display: block;
  float: left; }

.common .callout {
  background-color: #fff;
  border: 40px solid #fff;
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.08);
  margin: 40px 0px 40px 0px; }

.callout h4 {
  font-family: 'Grace' !important;
  font-size: 23px !important; }

.common .dots {
  width: 450px; }

.common .callout .dots {
  width: 370px;
  margin: 30px 0px; }

.common a.subtext {
  font-size: 15px;
  margin: 5px 0px;
  text-align: right;
  letter-spacing: 0px;
  float: right;
  font-family: 'SourceLight'; }

.enemy {
  margin-top: 10px; }

.wufoo {
  margin-bottom: 30px;
  margin-top: -10px; }

.feeds ul {
  margin-top: 30px;
  margin-bottom: 40px; }

.feeds li {
  font-family: 'SourceLight';
  background: url("../assets/bullet2.png") top left no-repeat;
  text-transform: none;
  font-size: 15px;
  padding-left: 30px; }

.feeds li b {
  font-family: 'Source';
  font-weight: normal; }

.feeds li span {
  display: block;
  padding: 10px 30px;
  margin-bottom: 30px;
  font-family: 'Source'; }

.feeds .dots {
  margin-bottom: 40px; }

.remaining {
  width: 160px;
  text-align: center;
  margin: 20px auto 30px auto;
  color: #fff;
  font-size: 20px;
  padding: 15px 60px;
  border: 5px solid #fff;
  background-image: url("../assets/swirls.png");
  font-family: 'SourceLight';
  font-weight: normal; }

.timeline .status {
  width: 450px;
  padding: 0px 30px 0px 0px; }

.timeline .callout {
  margin: 0px;
  border: 30px solid #fff; }

.timeline hr {
  margin-bottom: 50px; }

ul.timeline {
  list-style: none;
  margin-top: 30px; }

ul.keys {
  list-style: none;
  margin: 15px 0px 70px 50px;
  padding: 5px;
  width: 100%;
  color: #454545;
  clear: both; }

.keys li {
  font-family: 'SourceLight';
  background: url("../assets/bullet2.png") center left no-repeat;
  text-transform: none;
  font-size: 15px;
  padding-left: 30px;
  float: left;
  display: inline-block;
  height: 30px;
  margin-right: 15px;
  padding-top: 8px; }

.pic {
  position: relative;
  margin: 0px 0px 20px 0px; }

.pic img {
  margin: 0px;
  border: 30px solid #fff;
  background-color: #fff;
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.08); }

.pic h4 {
  color: #454545;
  text-align: right;
  width: 480px;
  margin-right: 0px; }

.pic h4 span.pound {
  font-family: 'Source';
  font-size: 20px;
  padding-right: 3px; }

.tagcloud li {
  display: block;
  width: 135px;
  float: left;
  background: url("../assets/bullet2.png") center left no-repeat;
  text-transform: none;
  font-size: 15px;
  padding-left: 30px; }

.content.fouroh {
  padding-top: 100px; }

.fouroh h4.notfound {
  font-family: 'Grace';
  font-size: 42px;
  color: #454545;
  width: 500px;
  margin: 0px auto 0px auto;
  padding: 50px 0px 0px 0px; }

.fouroh .faq {
  margin-top: 0px; }

.imgwrapper {
  width: 100%;
  text-align: center;
  background-color: #fff;
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.08);
  clear: both; }

.lost {
  font-family: 'SourceLight' !important;
  font-weight: normal;
  font-size: 26px;
  margin: 0 auto 50px auto;
  width: 700px; }

/* GENERAL */
/* RYAN */
/* CHRIS */
/* ------------------- TOP BAR WITH BREADCRUMBS -------------------  */
.top {
  width: 100%;
  background-color: #454545;
  height: 40px; }

.breadcrumb {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  color: #fff;
  margin: 0 auto;
  padding: 10px 10px 0 10px;
  max-width: 1080px; }

.breadcrumb p {
  font-family: 'SourceLight';
  font-size: 15px;
  line-height: 1.2em; }

.breadcrumb a {
  margin: 0;
  padding: 0px 0px 0px 0px;
  /* color: overridden */
  font-size: 15px;
  text-decoration: none; }

.switch {
  margin-left: auto; }

/* ------------------- HEADER & SHIELDS -------------------  */
header {
  padding-top: 17px;
  text-align: center; }

.normalHeader {
  display: none; }
  @media (min-width: 800px) {
    .normalHeader {
      display: block; } }

.mobileHeader {
  height: 200px; }
  @media (min-width: 800px) {
    .mobileHeader {
      display: none; } }

.mobileHeader img {
  margin-top: 25px; }

.home header {
  padding-top: 0px; }

#leftChecker {
  background-color: #a4dee1;
  height: 330px;
  left: 0;
  width: 50%;
  position: absolute;
  z-index: -1; }

.mainshield {
  width: 266px;
  height: 434px;
  text-align: center;
  margin-top: 0px auto 0 auto;
  z-index: 5;
  position: relative;
  display: inline-block; }

.mainshield img {
  margin-top: -31px; }

a.ryanshield {
  position: absolute;
  left: 0px;
  top: 38px;
  width: 50%;
  height: 289px;
  display: block;
  text-align: right;
  margin-right: 100px;
  z-index: 1;
  border-bottom: 3px solid #84cbd2;
  background-color: #a4dee1; }

a.ryanshield img {
  margin-right: 35%;
  padding-top: 42px; }
  @media (min-width: 1080px) {
    a.ryanshield img {
      margin-right: 200px; } }

a.ryanshield:hover, a.ryanshield.selected {
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.07) 50%, transparent 50%), linear-gradient(90deg, rgba(255, 255, 255, 0.13) 50%, transparent 50%), linear-gradient(90deg, transparent 50%, rgba(255, 255, 255, 0.17) 50%), linear-gradient(90deg, transparent 50%, rgba(255, 255, 255, 0.19) 50%);
  background-size: 213px, 129px, 237px, 153px; }

a.chrisshield {
  position: absolute;
  right: 0px;
  top: 38px;
  width: 50%;
  display: block;
  height: 289px;
  text-align: left;
  z-index: 1;
  border-bottom: 3px solid #c8e483;
  background-color: #d8ed9e; }

a.chrisshield img {
  margin-left: 35%;
  padding-top: 42px; }
  @media (min-width: 1080px) {
    a.chrisshield img {
      margin-left: 200px; } }

a.chrisshield:hover, a.chrisshield.selected {
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.07) 50%, transparent 50%), linear-gradient(90deg, rgba(255, 255, 255, 0.13) 50%, transparent 50%), linear-gradient(90deg, transparent 50%, rgba(255, 255, 255, 0.17) 50%), linear-gradient(90deg, transparent 50%, rgba(255, 255, 255, 0.19) 50%);
  background-size: 213px, 129px, 237px, 153px; }

a.chrisshield:hover img {
  opacity: 1 !important; }

/* ------------------- NAVIGATION LINKS -------------------  */
nav {
  /* background-color: overriden */
  font-family: "Grace";
  letter-spacing: 1px;
  color: #454545;
  font-size: 18px;
  padding: 40px 0px 30px 0;
  z-index: 2;
  margin-top: -161px; }
  @media (min-width: 800px) {
    nav {
      font-size: 18px; } }
  @media (min-width: 1080px) {
    nav {
      font-size: 20px; } }

nav.site {
  display: none; }
  @media (min-width: 800px) {
    nav.site {
      display: block; } }

nav div.navcontainer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 1080px;
  text-align: center;
  background-color: transparent;
  box-shadow: none;
  padding: 0px 10px; }
  nav div.navcontainer div {
    flex-grow: 1; }

nav a {
  z-index: 50;
  -webkit-backface-visibility: hidden; }

nav div.navcontainer span {
  padding: 0px 0px 15px 0px;
  display: inline-block;
  margin: 0px 0px; }
  @media (min-width: 1080px) {
    nav div.navcontainer span {
      padding: 0px 0px 30px 0px; } }

div.navcontainer a {
  display: inline-block;
  padding: 7px 5px 10px 5px;
  margin-right: 12px;
  position: relative;
  transform: translateZ(0); }

.navbox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  max-width: 430px; }

.leftnav {
  margin-right: 225px; }

.navbox span {
  width: 33%; }

.homenav .navbox span {
  width: 75%; }

nav a img {
  display: none;
  margin-right: 15px;
  margin-bottom: -2px; }
  @media (min-width: 1080px) {
    nav a img {
      display: inline-block; } }

nav div.blog a.blog:before,
nav div.timeline a.timeline:before,
nav div.budget a.budget:before,
nav div.contact a.contact:before,
nav div.subscribe a.subscribe:before,
nav div.about a.about:before {
  width: 40px;
  content: " ";
  background: url("../assets/halfarrow2.png") center right no-repeat;
  height: 50px;
  position: absolute;
  left: 0;
  margin-left: -20px;
  top: 34px; }

nav div.blog a.blog,
nav div.timeline a.timeline,
nav div.budget a.budget,
nav div.contact a.contact,
nav div.subscribe a.subscribe,
nav div.about a.about {
  border-bottom: 2px solid #454545; }

/* TOOLBOX */
a.rotate img {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out; }

a.rotate img:hover {
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  -o-transform: rotate(10deg);
  -ms-transform: rotate(10deg); }

a.counterrotate img {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out; }

a.counterrotate img:hover {
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg); }

a.slide img {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out; }

a.slide img:hover {
  -webkit-transform: translate(0px, 5px);
  -moz-transform: translate(0px, 5px);
  -o-transform: translate(0px, 5px);
  -ms-transform: translate(0px, 5px); }

/* FOOTER */
footer {
  width: 100%;
  margin-top: 0px;
  color: #FFF;
  background-color: #454545;
  position: relative; }

/* Battle of Brothers logo */
.bob {
  margin: 0 auto;
  width: 100%;
  text-align: center; }

.bob img {
  margin-top: -34px; }

/* Absolutely positioned logos. They need a width so that the actual content can expand based on browser size */
.corner p {
  width: 0px; }
  @media (min-width: 1080px) {
    .corner p {
      width: 130px; } }

.ryanfoot {
  position: absolute;
  bottom: 0;
  left: 0; }

.chrisfoot {
  position: absolute;
  bottom: 0;
  right: 0; }

.corner img {
  display: none; }
  @media (min-width: 1080px) {
    .corner img {
      width: 250px;
      display: block; } }

/* FOOTER TEXT */
.inner {
  max-width: 460px;
  min-width: 280px;
  margin: 0 10px 0 auto;
  padding: 20px; }

@media (min-width: 800px) {
  .outer {
    max-width: 450px;
    min-width: 270px;
    margin: 0 auto 0 20px;
    padding: 20px; } }

.footer_content {
  width: 100%; }

.footerflex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  max-width: 1080px;
  margin: 0 auto;
  font-size: 1.2em; }

/* ABOUT THE CONTEST */
.about_contest {
  display: none; }
  @media (min-width: 800px) {
    .about_contest {
      width: 50%;
      display: block; } }

.footer_content h5 {
  font-family: 'Grace';
  font-size: 1.1em;
  font-weight: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 10px; }

.footer_content p {
  font-family: 'SourceLight';
  font-size: .95em;
  line-height: 1.5em;
  margin-top: 10px; }

.about_contest a {
  width: 75px;
  display: inline-block;
  font-size: 14px;
  text-transform: none;
  text-decoration: none;
  font-family: 'SourceLight';
  letter-spacing: 0px;
  color: #454545;
  background: #FFF;
  text-align: center;
  padding: 5px;
  margin-right: 10px;
  margin-top: 3px; }

/* LINK DUMP */
@media (min-width: 800px) {
  .links {
    width: 50%; } }

.links p {
  margin-bottom: 30px; }

.links p span {
  margin-left: 50px;
  margin-right: 10px;
  font-size: 30px; }

.rss {
  margin-left: 46px !important; }

.links a {
  margin-right: 5px; }

.white {
  color: #FFF;
  text-decoration: none; }
