@charset "UTF-8";
/* RESETS & BASIC PAGE SETUP */
* {
  margin: 0;
  padding: 0; }

html {
  min-height: 100%;
  position: relative; }

/* make sure it is at least as tall as the viewport */
body {
  height: 100%;
  background: #a4dee1;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2E0ZGVlMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2E0ZGVlMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzg0Y2JkMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4NGNiZDIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(left, #a4dee1 0%, #a4dee1 50%, #84cbd2 50%, #84cbd2 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #a4dee1), color-stop(50%, #a4dee1), color-stop(50%, #84cbd2), color-stop(100%, #84cbd2));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #a4dee1 0%, #a4dee1 50%, #84cbd2 50%, #84cbd2 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #a4dee1 0%, #a4dee1 50%, #84cbd2 50%, #84cbd2 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #a4dee1 0%, #a4dee1 50%, #84cbd2 50%, #84cbd2 100%);
  /* IE10+ */
  background: linear-gradient(to right, #a4dee1 0%, #a4dee1 50%, #84cbd2 50%, #84cbd2 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a4dee1', endColorstr='#84cbd2',GradientType=1 );
  /* IE6-8 */ }

p {
  font-size: 1.2em;
  line-height: 1.2em;
  margin-bottom: 1.2em; }

a {
  outline: none; }

a img {
  border: none; }

/* CHECKERS AT TOP */
#rightChecker {
  background-color: #A4DEE1;
  height: 439px;
  right: 0;
  width: 50%;
  position: absolute;
  z-index: -1; }

#leftChecker {
  background-color: #84cbd2;
  height: 439px;
  left: 0;
  width: 50%;
  position: absolute;
  z-index: -1; }

/*.nav a.active {
	background-color: #a769a2;
	color: #FFF;
}*/
/* ARTICLE */
article {
  margin: 60px 0 0px 0;
  background-color: #def3f4;
  min-height: 700px;
  width: 960px; }

.post blockquote {
  border-left: 3px solid #a769a2; }

.embedleft {
  border-right: 3px solid #a769a2;
  border-left: none !important; }

/* LINK INDICATOR */
.arrow:after {
  color: #a769a2;
  content: " ↣"; }

/* RIBBON FOR CATEGORIES */
.ribbon {
  background: #ba89b6 !important; }

.ribbon:after {
  content: "";
  position: absolute;
  display: block;
  bottom: -1em;
  border: 1em solid #986794;
  z-index: -1; }

.ribbon .ribbon-content:after {
  border-color: #804f7c transparent transparent transparent !important; }
