/* TOOLBOX */
a.rotate img {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out; }

a.rotate img:hover {
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  -o-transform: rotate(10deg);
  -ms-transform: rotate(10deg); }

a.slide img {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out; }

a.slide img:hover {
  -webkit-transform: translate(0px, 5px);
  -moz-transform: translate(0px, 5px);
  -o-transform: translate(0px, 5px);
  -ms-transform: translate(0px, 5px); }
