{{ define "main" -}}

  	<div class="outercontent">

  		<div class="homecontent clear">

  			<hr />

			<div class="faq clear" id="faq">

				<div class="question">

					<h4>What's this contest about?</h4>
					<p>Armed with little to no game development experience, the Brothers Campbell are attempting to make video games for a living.
					We believe the best way for us to learn is to do what comes naturally to brothers &#8212; Compete! 
					The challenge is to see who can make the most successful video game on a budget of $25,000 and in one year’s time. 
					The duel begins on April 7th, 2014 and we'll be documenting the journey.</p>

					<hr class="dots" />

					<h4>How will you determine the winner?</h4>
					<p>It’s simple. The most profitable game wins. We’ll have 6 months to market the game after the one year development deadline on April 7th, 2015.</p>

					<hr class="dots" />

					<h4>What will you blog about?</h4>
					<p>Anything and everything related to what we learn about game development. Art, sound, music, code, design, budget, timeline, goals, and anything else worth sharing. 
					We’re thirsting for game knowledge and we want to help encourage other indie game devs by sharing what we discover.</p>

				</div>

				<div class="question">

					<h4>Who are you guys?</h4>
					<p>We're two brothers who previously had success co-founding <a href="http://wufoo.com">Wufoo.com</a>, a web based form builder that was acquired 
					by <a href="http://surveymonkey.com">SurveyMonkey.com</a>. Ever the entrepreneurs, we’ve decided to start a new venture focusing on 
					something a bit more near and dear to the heart — gaming.</p>

					<hr class="dots" />

					<h4>How can I get involved?</h4>
					<p>For now, we're still in the learning phases so comments and pointers on our blogs are much appreciated. 
					Down the road, we'll need art, sound and who knows what other type of help that we'll be looking to contract out. 
					Please don’t be shy about reaching out to us if you think you can contribute in any way.
					</p>

					<hr class="dots" />

					<h4>I'm hooked, how can I follow you guys?</h4>
					<p>Most of the content is posted on the blogs (<a href="/sirryan">Sir Ryan</a> and <a href="/sirchris">Sir Chris</a>), but you can also follow us on Twitter (<a href="https://twitter.com/veeneck">@veeneck</a> and <a href="https://twitter.com/codepaladin">@codepaladin</a>), 
					subscribe to our <a href="/sirryan/subscribe">RSS feeds</a>, or even go old school and send us an <a href="/sirchris/contact">email</a>.</p>

				</div>

			</div> <!-- faq -->

	  	</div> <!-- content -->

	</div> <!-- outer -->

{{- end }}