{{ define "main" -}}

<div class="outercontent">
  	  <div class="content clear">

		<div class="floatleft activity common feeds">
			<h4>The Feeds</h4>
			<ul>
				<li class="chris"><b>Combined</b> <a href="http://feeds.feedburner.com/SirRyan" target="_blank" class="dotted">RSS Feed</a></li>
				<li class="chris">Or just paste the URL directly into your feed reader: <span>http://feeds.feedburner.com/BattleOfBrothers</span></li>
			</ul>
			<h4>What is an RSS Feed?</h4>
			<p>RSS allows you to get automatic updates when a new blog post is created. Using an app like <a href="http://feedly.com" target="_blank" class="dotted">Feedly</a> for
			the web, or <a href="https://flipboard.com" target="_blank" class="dotted">Flipboard</a> on a mobile device, you can be notified when we write something new. 
			There are tons of free readers that will help you keep up to date with topics you're interested in, so go and set one up!</p>
			<hr class="dots" />
			{{ partial "enemy.html" . }}
		</div> <!-- #activity -->

		<div class="floatleft activity right common">
			{{ partial "intouch.html" . }}
			{{ partial "contest.html" . }}
		</div> <!-- #activity -->
	</div>
  </div> <!-- #content -->


{{- end }}