@import '_variables';
@import '_mixins';

/* RESETS & BASIC PAGE SETUP */

* { margin: 0; padding: 0; }
html{min-height:100%;position:relative; font-family: 'SourceLight', 'Garamond'}/* make sure it is at least as tall as the viewport */
body { color: #454545;}
p { font-size: 1.2em; line-height: 1.6em; margin-bottom: 1.2em;}
a { outline: none; }
a img { border: none; }

/* TOOLBOX */

.floatleft { float: left; }
.floatright { float: right; }
.clear { 
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

#wpstats, #wpadminbar {
	display: none;
}

/* CONTENT - HOLDS ALL CONTENT ON PAGE */

.content {
	margin: 0 auto;
	max-width: $maxWidth;
	padding: 0px 10px;
}

.outercontent {
	width: 100%;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 40px 0px;
	height: 100%;
}

.outercontentalt {
	padding-bottom: 80px;
}

/* HALF THE WIDTH OF THE PAGE -- USEFUL TO SHOW RECENT BLOG POSTS */
/* Because the widths are dependent on the content, the right side has a margin because the left side rarely reaches all of the way across.
This make sit look symmetrical most of the time */
/*
Main width: 480px;
Left side: 460 w/ 20 padding on right;
right side: 450 with 30 padding on left;

When you use this container, and you should so that every page has the same layout, make sure the inner contents don't force this larger

*/

.activity {
	width: 100%;
	min-width: 350px;
	padding: 20px 3% 20px 0px;
	margin-top: 30px;
	margin-bottom: 30px;

	@include breakpoint(tablet-screen) {
		width: 50%;
		marign-top: 0px;
    }

}

.activity.right {
	width: 100%;
	padding: 0px 0px 20px 0px;

	@include breakpoint(tablet-screen) {
		padding-top: 20px;
		width: 47%;
    }
}

.activity ul {
	list-style: none;
}

.activity ul li {
	display: block;
}

/* SHIELD AND DATE - Set to a default shield and overriden in PHP */

.shield {
	background-image:url('../assets/Shield1.png');
	background-repeat: no-repeat;
	height: 40px !important;
	width: 40px !important;
	text-align: center !important;
	padding-top: 11px !important;
	font-size: 16px !important;
	font-family: 'Legacy' !important;
	color: #454545  !important;
	line-height: 1.2em !important;
}

.month {
	font-size: 14px;
	letter-spacing: 1px;
	width: 40px;
	text-align: center;
	display: block;
	text-transform: uppercase;
	font-family: 'Legacy';
}

.timestamp {
	height: 100px;
}

/* SWIRLY DIVIDER FOR CONTENT CHANGES */

hr {
	background-image:url('../assets/HorizontalRule.png');
	background-repeat: no-repeat;
	background-position: center;
	border: 0;
	padding: 0px;
	margin: 0px auto;
	width: 100%;
	height: 50px;
}

hr.dots {
	background-image:url('../assets/hr_dots.png');
	background-repeat: no-repeat;
	background-position: center;
	width: 480px;
	height: 20px;
	margin-top: 40px;
}

/* STANDARD STYLES */

.common h4 {
	font-family: 'Grace';
	font-size: 23px;
	text-transform: uppercase;
	font-weight: normal;
	margin-top: 0px !important;
	color: #454545;
}

.common p, .common ul {
	font-family: 'SourceLight';
	line-height: 1.6em;
	font-size: 1.1em;
}

.common ul {
	margin-top: 30px;
	text-align: left;
}

.common li {
	margin: 0px 0px 10px 0px;
	font-size: 1em;
}

.common strong {
	font-weight: normal;
	font-family: 'Source';
	color: #fff;
	background-color: #454545;
	padding: 2px 5px;
}

.common img.inlineright {
	margin: 0px 0px 30px 30px;
	border: 15px solid #fff;
	box-shadow: 3px 3px 1px rgba(0,0,0,0.08);
}

.common .intouch img { 
	margin: 0px 10px 0px 0;
	display:block;
	float: left;
}

.common .callout {
	background-color: #fff;
	border: 40px solid #fff;
	box-shadow: 5px 5px 3px rgba(0,0,0,0.08);
	margin: 40px 0px 40px 0px;
}

.callout h4 {
	font-family: 'Grace' !important;
	font-size: 23px !important;
}

.common .dots {
	width: 450px;
}

.common .callout .dots {
	width: 370px;
	margin: 30px 0px;
}

.common a.subtext {
	font-size: 15px;
	margin: 5px 0px;
	text-align: right;
	letter-spacing: 0px;
	float: right;
	font-family: 'SourceLight';
}

.enemy {
	margin-top: 10px;
}

.wufoo {
	margin-bottom: 30px;
	margin-top: -10px;
}

.feeds ul {
	margin-top: 30px;
	margin-bottom: 40px;
}

.feeds li {
	font-family: 'SourceLight';
	background: url('../assets/bullet2.png') top left no-repeat;
	text-transform: none;
	font-size: 15px;
	padding-left: 30px;
}

.feeds li b {
	font-family: 'Source';
	font-weight: normal;
}

.feeds li span {
	display: block;
	padding: 10px 30px;
	margin-bottom: 30px;
	font-family: 'Source';
}

.feeds .dots {
	margin-bottom: 40px;
}

.remaining {
	width: 160px;
	text-align: center;
	margin: 20px auto 30px auto;
	color: #fff;
	font-size: 20px;
	padding: 15px 60px;
	border: 5px solid #fff;
	background-image: url("../assets/swirls.png");
	font-family: 'SourceLight';
	font-weight: normal;
}

.timeline .status {
	max-width: 48%;
	padding: 0px 30px 0px 0px;
}

.timeline .pic {
	max-width: 48%;
	img {
		width: 85%;
	}
}

.timeline .callout {
	margin: 0px;
	border: 30px solid #fff;
}

.timeline hr {
	margin-bottom: 50px;
}

ul.timeline {
	list-style: none;
	margin-top: 30px;
}

ul.keys {
	list-style: none;
	margin: 15px 0px 70px 50px;
	padding: 5px;
	width:100%;
	color: #454545;
	clear: both;
}

.keys li {
	font-family: 'SourceLight';
	background: url('../assets/bullet2.png') center left no-repeat;
	text-transform: none;
	font-size: 15px;
	padding-left: 30px;
	float: left;
	display: inline-block;
	height: 30px;
	margin-right: 15px;
	padding-top: 8px;
}

.pic {
	position: relative;
	margin: 0px 0px 20px 0px;
}

.pic img {
	margin: 0px;
	border: 30px solid #fff;
	background-color: #fff;
	box-shadow: 5px 5px 3px rgba(0,0,0,0.08);
}

.pic h4 {
	color: #454545;
	text-align: right;
	width: 100%;
	margin-right: 0px;
}

.pic h4 span.pound {
	font-family:'Source';
	font-size: 20px;
	padding-right: 3px;
}

ul.tagcloud {

}

.tagcloud li {
    display: block;
    width: 135px;
    float: left;
    background: url('../assets/bullet2.png') center left no-repeat;
	text-transform: none;
	font-size: 15px;
	padding-left: 30px;
}

.content.fouroh {
	padding-top: 100px;
}

.fouroh h4.notfound {
	font-family: 'Grace';
	font-size: 42px;
	color: #454545;
	width: 500px;
	margin: 0px auto 0px auto;
	padding: 50px 0px 0px 0px;
}

.fouroh .faq {
	margin-top: 0px;
}

.imgwrapper {
	width: 100%;
	text-align: center;
	background-color: #fff;
	box-shadow: 5px 5px 3px rgba(0,0,0,0.08);
	clear: both;
}

.lost {
	font-family: 'SourceLight' !important;
	font-weight: normal;
	font-size: 26px;
	margin:0 auto 50px auto;
	width: 700px;
}