/* FONTS */

.grace {
	font-family: 'Grace';
}

.legacy {
	font-family: 'Legacy';
}

.social {
	font-family: 'Social';
}

.source {
	font-family: 'Source';
}

.source_light {
	font-family: 'SourceLight';
}

@font-face{
	font-family: 'Grace';
	src: url("fonts/Grace/CoveredByYourGrace.ttf") format("truetype");
}

@font-face{
	font-family: 'Legacy';
	src: url("fonts/Legacy/wg_legacy_edition.ttf") format("truetype");
}

@font-face{
	font-family: 'Social';
	src: url("fonts/SocialMedia/SocialMediaIcons.ttf") format("truetype");
}

@font-face{
	font-family: 'Source';
	src: url("fonts/source-sans-pro/SourceSansPro-Regular.otf") format("truetype");
}

@font-face{
	font-family: 'SourceLight';
	src: url("fonts/source-sans-pro/SourceSansPro-Light.otf") format("truetype");
    src: url('fonts/SourceSansPro/EOT/SourceSansPro-Regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/SourceSansPro/WOFF/OTF/SourceSansPro-Light.otf.woff') format('woff'),
         url('fonts/SourceSansPro/WOFF/TTF/SourceSansPro-Light.otf.ttf') format('truetype'),
         url('fonts/SourceSansPro/SVG/SourceSansPro-Light.svg#Museo100Regular') format('svg');
}

@font-face{
	font-family: 'SourceLightIt';
	src: url("fonts/source-sans-pro/SourceSansPro-LightIt.otf") format("truetype");
}