{{ $.Scratch.Set "knight" "sirchris" }}
{{ if (in .Params.categories "sirryan") }}
	{{ $.Scratch.Set "knight" "sirryan" }}
{{ end }}

{{ partial "header.html" . }}
  <body class="home gradient">

    {{ if eq .Page.Title "Battle of Brothers" }}
  	   <div id="leftChecker"></div>
    {{ end }}

  	{{ partial "breadcrumb.html" . }}

  	{{ partial "hero.html" . }}

  	{{ partial "nav.html" . }}

    {{ block "main" . -}}{{- end }}

     {{ if not .Site.BuildDrafts }}
    <!-- Fathom - simple website analytics - https://usefathom.com -->
    <script>
    (function(f, a, t, h, o, m){
    a[h]=a[h]||function(){
        (a[h].q=a[h].q||[]).push(arguments)
    };
    o=f.createElement('script'),
    m=f.getElementsByTagName('script')[0];
    o.async=1; o.src=t; o.id='fathom-script';
    m.parentNode.insertBefore(o,m)
    })(document, window, '//cdn.usefathom.com/tracker.js', 'fathom');
    fathom('set', 'siteId', 'AYISLDQO');
    fathom('trackPageview');
    </script>
  <!-- / Fathom -->
  {{ end }}
    {{ partial "footer.html" . }}
  </body>
</html>