{{ $.Scratch.Set "knight" "sirchris" }}
{{ if (in .Params.categories "sirryan") }}
	{{ $.Scratch.Set "knight" "sirryan" }}
{{ end }}

{{ partial "header.html" . }}
  <body class="home gradient">

    {{ if eq .Page.Title "Battle of Brothers" }}
  	   <div id="leftChecker"></div>
    {{ end }}

  	{{ partial "breadcrumb.html" . }}

  	{{ partial "hero.html" . }}

  	{{ partial "nav.html" . }}

    {{ block "main" . -}}{{- end }}

    {{ template "_internal/google_analytics_async.html" . }}
    {{ partial "footer.html" . }}
  </body>
</html>