{{ partial "header.html" . }}
  <body class="home gradient">

  	<div id="leftChecker"></div>

  	{{ partial "hero.html" . }}

    <nav>
  	 	<div class="container clear">
	  		<div class="leftnav">
	  			<span>
		  			<a href="/sirryan" class=" clear">
		  				<img class="" src="/assets/CastleWhite.png" width="24px"  />Visit Sir Ryan
		  			</a>
	  			</span>
			</div>
			<div class="rightnav">
				<span>
		  			<a href="/sirchris" class="clear">
		  				<img class="" src="/assets/CastleWhite.png" width="24px"  />Visit Sir Chris
		  			</a>
	  			</span>
			</div>
		</div>
  	</nav>

    {{ block "main" . -}}{{- end }}

    {{ template "_internal/google_analytics_async.html" . }}
    {{ partial "footer.html" . }}
  </body>
</html>