{{ define "main" -}}

	{{ $randomShield := index (first 1 (shuffle (seq 7 12))) 0 }}

	<div class="outercontent">
  	  <div class="content clear">

		<article class="clear">
			<div class="title clear">
				<div class="floatleft">
					<span class="month legacy">{{ .Date.Format "Jan" }}</span> 
					<p class="shield legacy" style="background-image:url('/assets/Shield{{ $randomShield }}.png')">{{ .Date.Format "2" }}</p>
					<span class="year legacy">{{ .Date.Format "2006" }}</span> 
				</div>
				<h3 class="grace">{{ .Title }}</h3>
				<div class="subhead">
					<span class="comments floatright">
						<img class="icon" src="/assets/Chat-6.png" width="16px" />
						<small><a href="/" class="dotted">X Comments</a></small>
					</span>
					<img class="icon" src="/assets/Tag-star.png" width="16px">
					<small>
						{{ range $key, $value := .Params.tags }}
						<a href="" class="dotted">{{ $value }}</a>
						{{ end }}
					</small>
				</div>
			</div>

			<div class="post source_light">				
 				{{ .Content }}
			</div>

		</article>

	</div>
</div>

{{- end }}