{{ define "main" -}}

	{{ $randomShield := index (first 1 (shuffle (seq 7 12))) 0 }}

	<div class="outercontent">
  	  <div class="content clear">

		<article class="clear">
			<div class="title clear">
				{{ partial "dateshield.html" . }}
				<h3 class="grace">{{ .Title }}</h3>
				<div class="subhead">
					{{ partial "tagsandcomments.html" . }}
				</div>
			</div>

			{{ if isset .Params "featured_image" }}
				<div class="thumbnail">
					<img src="{{ .Page.Params.featured_image }}" width="660" />
				</div>
			{{ end }}

			<div class="post source_light">				
 				{{ .Content }}
			</div>

		</article>

		{{ if .Site.DisqusShortname -}}
			<h2>Comments</h2>
			{{ template "_internal/disqus.html" . }}
		{{- end }}

	</div>
</div>

{{- end }}