{{ define "main" -}}

<div class="outercontent">
  	  <div class="content clear">

		<div class="floatleft activity common">
			<h4>Who is {{ .Params.name }}</h4>
			<img src="/assets/{{ .Params.image }}" class="floatright inlineright" width="160px" />
			<p>{{ safeHTML .Params.desc1  }}</p>

			<p>{{ .Params.desc2 }}</p>

			<hr class="dots" />

			<ul>

			<li><strong>I currently play</strong> {{ .Params.play }}</li>

			<li><strong>I’ve loved playing</strong> {{ .Params.playing }}</li>

			<li><strong>I listen to</strong> {{ .Params.listen }}</li>

			<li><strong>I fear</strong> {{ .Params.fear }}</li>

			<li><strong>I relax by</strong> {{ .Params.relax }}</li>

			<li><strong>I watch</strong> {{ .Params.watch }}</li>

			<li><strong>I read</strong> {{ .Params.read }}</li>

			<li><strong>I procrastinate on</strong> {{ .Params.procrastinate }}</li>

			<li><strong>The future plays out like</strong> {{ .Params.future }}</li>
			</ul>
		</div> <!-- #activity -->

		<div class="floatleft activity right common">
			{{ partial "intouch.html" . }}
			{{ partial "contest.html" . }}

			{{ partial "enemy.html" . }}

		</div> <!-- #activity -->
	</div>
  </div> <!-- #content -->

{{- end }}